.comparison-table-container {
  overflow-x: auto;
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--border-color);
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
}

.comparison-table th, .comparison-table td {
  padding: 1.25rem;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.comparison-table th:last-child, .comparison-table td:last-child {
  border-right: none;
}

.comparison-table th {
  background-color: #F9FAFB;
  text-align: center;
}

.comparison-table td {
  text-align: center;
}

.comparison-table td:first-child {
  text-align: left;
  background-color: #F9FAFB;
}

.comparison-table th:first-child {
  text-align: left;
}

.best-option {
  background-color: rgba(16, 185, 129, 0.05) !important;
  border-bottom: 2px solid var(--success-color) !important;
}

.ml-2 {
  margin-left: 0.5rem;
}
